*{
    padding: 1px;
    margin: 1px;
}
body{
    background-color: brown;
    text-align: center;
}

.headertf2{
    margin-left: 5%;
}
#calculadora{
    margin-top: 70px;
    margin-left: 40%;
    /*border: blue solid 3px;*/
    border-radius: 25px;
    background-color: cornflowerblue;
    width: 20%;
    text-align: center;
    font: bold 14px Arial,sans-serif; 
    padding-bottom: 200px;
    /*padding: 20px 20px 9px; */
}
#cabecera{
    width: 250px;
}
#cabecera .pantalla { 
    background-color: #DEDCF0; 
    border-radius: 3px; 
    text-align: right;
    color: black; 
    float: left; 
    width: 295px;
    height: 25px;
}
#cabecera .limpiar { 
    border-radius: 3px; 
    color: black; 
    float: left; 
    width: 142px;
    margin-left: 145px;
}
.teclas{
    width: auto;
    height: auto;
    float: left;
}
button{
    border-radius: 3px; 
    color: black; 
    cursor: grabbing;
    float: left;  
    text-align: center; 
    width: 70px;
    background-color: darkgray;
    
}

button.operador{
    background-color: cadetblue;
}
button:hover{
    background: lightgray;
}
button.operador:hover{
    background: lightgreen;
}
button.limpiar:hover{
    background: lightskyblue;
}