body{
    background-color: brown;
}
h1{
    font-size: 24pt;
    font-style: oblique;
    text-align: center;
}
.headertf2{
    margin-left: 23%;
}
.pa{
    font-size: 14pt;
    font-style: normal;
    text-align: left;
}
.sectF{
    background-color: cornflowerblue;
    width: 80%;
    margin-left: 10%;
}
label{
    width: 17%;
    margin-left: 28%;
    display: inline-block
}
input{
    width: 25%;
    border-radius: 20px;
    display: inline-block
}
button{
    width: 9%;
    margin-left: 45%;
    display: inline-block;
}
.falla{
    position: relative;
    top: -20px;
    font-size: 11pt;
    color: red;
    margin-left: 55%;
    margin-bottom: -34px;;
}  
.ok{
    position: relative;
    top: -20px;
    font-size: 11pt;
    color: greenyellow;
    margin-left: 55%;
    margin-bottom: -34px;;
}  